
@{
    Layout = null;
}
<script type="text/javascript" src="~/Scripts/jquery.js,jquery.backstretch.min.js"></script>
<body>
    <script>
        $.backstretch([
            '/Content/image/bg2.jpg',
            '/Content/image/bg3.jpg',
            '/Content/image/bg1.jpg',
            '/Content/image/bg4.jpg',
        ]),
            {
                fide: 3000,
                duration: 4000,
            }
    </script>
</body>